/* Fuentes */
@font-face {
    font-family: "Quattrocento";
    src: url("../recursos/type-letras/Quattrocento-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Signika+Negative:wght@300&display=swap');

/* Estilos generales */
* {
    margin: 0px;
    padding: 0px;
    font-family: "SignikaNegaive";
}

/* Encabezado */
header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    height: 8.7vh;
    padding: 8px 2%;
    background-image: linear-gradient(to right, #9795f0, #fbc8d4);
}

header .logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 2%;
}

header .logo img {
    height: 60px;
    width: auto;
    transition: all 0.3s;
    margin-right: 8px;
}

header nav ul {
    display: flex;
    text-align: center;
    list-style: none;
}

header .menu {
    list-style: none;
    margin-right: 30px;
}

header .menu li {
    display: inline-block;
    padding: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 10px;
}

header .menu li:hover {
    transform: scale(1.1);
}

header .menu li:last-child {
    margin-right: 30px;
}

header .menu li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header .menu li a:hover {
    color: #d09f21;
}

header .letras {
    color: white;
    list-style: none;
}

/* Contenido principal */
.parrafo-main {
    text-align: center;
    color: #010000;
    font-size: 20px;
    margin: 2% 6% 2% 6%;
    font-family: "Quattrocento"
}

.mb-16 {
    margin-bottom: 16px;
}

.video {
    display: flex;
    width: 100%;
    justify-content: center;
}

iframe {
    width: 60%;
}

.inciensoss {
    width: 23vw;
    text-align: center;
    padding: 8px;
}

.tarjeta-incienso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.contenedor-tarjeta {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tarjeta-incienso > div {
    width: 100%;
    max-width: 250px;
    margin: 10px;
    text-align: center;
  }
  
.margin {
    margin: 16px;
}

.TituloTaller{
    margin-top: 2%;
    font-size: 40px;
    font-family: "SignikaNegaive"
}

.Meditaciontalleres img {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    border-radius: 30px;
}

.Meditaciontalleres img:hover {
    opacity: 0.5;
}
.Meditacionenelagua img {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    border-radius: 30px;
}

.Meditacionenelagua img:hover {
    opacity: 0.5;
}
.Meditaciontalleres{
    text-align: right;
    margin-top: 2%;
  margin-bottom: 2%;
}

.Meditacionenelagua{
    text-align: left;
    margin-top: 2%;
  margin-bottom: 2%;
}


h2 {
    font-size: 20px;
    font-family: 'Quattrocento';
    text-align: center;    
    margin-top: 2%;
    margin-bottom: 1%;
}

h3 {
    font-size: 19px;
    font-family: 'Lora', serif;
    margin-bottom: 2%;

    
}

p {
    font-family: 'Quattrocento';
  
}

.primertexto{
    text-align: left;
}
 .segundotexto{
    text-align: right;
 }

.formulario {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.formulario label {
    width: 100%;
    margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.formulario button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*Form contacto*/
form {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border: 2px solid #ccc;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
/* Informacion

 .formulario
 {
display: flex;
flex-direction: column;
margin: 10%;
text-align: center;
 }*/

/*
.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
} 


button[type="submit"] {
    background-color: #a8caba;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #5d4157;
}*/

/*CONTACTO*/
.contacto {
    max-width: 600px;
}

.tick {
    padding: 0;
}

footer {
    background-image: linear-gradient(to right, #9795f0, #fbc8d4);
    padding: 20px;
    justify-content: center;
    margin-top: 5%;

}

footer div ul li a {
    text-decoration: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    display: inline-block;
}

.column ul {
    list-style: none;
    padding-left: 0;
}

.column h3 {
    margin-top: 0;
}






@media screen and (max-width: 600px) {
    .footer-links li {
        margin-right: 10px;
    }
}



@media screen and (max-width: 600px) {

    /* Encabezado */
    header {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    header h1 {
      font-size: 24px;
    }
  
    header .logo img {
      width: 80%;
    }
  

    header nav {
      flex-direction: column;
    }
  

    header nav ul {
      margin-top: 20px;
    }
  
 
    main .video iframe {
      width: 100%;
    }
  

    footer .column {
      width: 100%;
    }
  
  
    .logo {
        margin-bottom: 10px;
    }

    .logo p {
        font-size: 16px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu li {
        padding: 10px;
    }


}

/*Talleres */

@media (max-width: 600px) {
    .TituloTaller {
      font-size: 24px;
      margin-top: 20px;
    }
  
    .Meditaciontalleres img, .Meditacionenelagua img {
      width: 100%;
    }
  
    .primertexto {
      font-size: 16px;
      line-height: 1.5;
    }
    
    .segundotexto{
        font-size: 16px;
        line-height: 1.5;
      }

    .formulario {
      margin-top: 20px;
      width: 100%;
    }
  
    .formulario label, .formulario input, .formulario textarea, .formulario button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .formulario label {
      display: block;
      font-size: 14px;
    }
  
    .formulario input, .formulario textarea {
      padding: 10px;
      font-size: 16px;
    }
  
    .formulario button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  